<%= form_for @article do |a| %>
  <p><%= a.label :title %></p>
  <p><%= a.text_field :title %></p><br>

  <p><%= a.label :content %></p>
  <p><%= a.text_area :content %></p>

  <%= a.submit %>
<% end %>
