<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <div style="display: inline"><%= link_to "Le Wagon Milan", articles_path %>
      <div style="display: inline"><%= link_to "New Article", new_article_path %></div>
    </div>

    <%= yield %>
  </body>
</html>
